# DATABASE
CONNECTION_STRING=mongodb://localhost:27017
DATABASE_NAME=finances
IS_SSL=true
SECRET_KEY=
ISSUER=FinanceIssuer
AUDIENCE=FinanceAudience
ALLOWED_ORIGINS=http://localhost:3000,http://localhost:65299
UI_URL=http://localhost:3000

# EMAIL
RESEND_EMAIL=
RESEND_API_KEY=

# CLOUDINARY
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=